---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Center the footer text and social icons */
footer {
  text-align: center;
}

/* Ensure the avatar image does not get too small on mobile */
.author__avatar {
  width: 210px;  /* Default size for larger screens */
  height: auto;

  @media only screen and (max-width: 400px) {
    width: 100px; /* Minimum size for smaller screens */
    min-width: 80px; /* Ensures it doesn't shrink below this size */
  }
}


/* Set a global minimum size for all figures */
figure {
  min-width: 200px;
  min-height: 100px;
  max-width: 100%;  /* Ensures it doesn’t exceed the container width */
}

figure img {
  min-width: inherit;
  min-height: inherit;
  max-width: 100%;
  height: auto;  /* Maintains aspect ratio */
}

@media (max-width: 768px) { /* Targeting mobile screens */
    .btn--inverse {
        position: fixed;       /* Fixed position so it stays in view */
        bottom: 80px;         /* Adjust vertical position */
        right: 185px;          /* Adjust horizontal position */
        transform: none;      /* Remove any transformations if any */
    }
    /* Position the author social icons list */
.author__urls {
    position: fixed;       /* Fixed position to match the button */
    bottom: 180px;         /* Adjust to be above the Links button */
    right: 140px;          /* Same horizontal position */
    transform: none;      /* Remove any transformations if any */
}
}

