---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Center the footer text and social icons */
footer {
  text-align: center;
}

/* Ensure the avatar image does not get too small on mobile */
.author__avatar {
  width: 210px;  /* Default size for larger screens */
  height: auto;

  @media only screen and (max-width: 600px) {
    width: 40px; /* Minimum size for smaller screens */
    min-width: 40px; /* Ensures it doesn't shrink below this size */
  }
}



body {
    font-weight: 250; // Global font thickness 
}

.toc {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 20px;
}
.toc h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}



