---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Center the footer text and social icons */
footer {
  text-align: center;
}

/* Ensure the avatar image does not get too small on mobile */
.author__avatar {
  width: 210px;  /* Default size for larger screens */
  height: auto;

  @media only screen and (max-width: 600px) {
    width: 100px; /* Minimum size for smaller screens */
    min-width: 60px; /* Ensures it doesn't shrink below this size */
  }
}

/* Change the background color for the body */
body.skin-contrast {
  background-color: #f3f6f6;
}


